@model IEnumerable<FurnitureStore.Models.ReportModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div align="left">
    @using (Html.BeginForm("Index", "Reports", FormMethod.Get))
    {
        <b> Select Search Option: </b><br />
        @Html.Label("Furniture type");
        @Html.DropDownList("FurnitureTypeID", null, htmlAttributes: new { @class = "form-control" })
        @Html.Label("Start Date (dd/mm/yyyy):");
        @Html.Editor("StartDate", new { htmlAttributes = new { @class = "form-control datepicker", @Value = DateTime.Now.ToString("mm'/'dd'/'yyyy"), type = "datetime" } })
        @Html.Label("End Date (dd/mm/yyyy):");
        @Html.Editor("EndDate", new { htmlAttributes = new { @class = "form-control datepicker", @Value = DateTime.Now.ToString("mm'/'dd'/'yyyy"), type = "datetime" } })
        @*@Html.Editor("EndDate", null, new { @class = "form-control datepicker", @Value = DateTime.Now.ToString("dd'/'mm'/'yyyy"), type = "datetime" })*@

        <input type="submit" name="submit" value="Search" />
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FurnitureType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SumForType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FurnitureType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumForType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }

</table>

<h2>Total sum: @ViewBag.TotalReportSum</h2>

@section Scripts {

    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "mm/dd/yy"
            });
        });
    </script>
}