<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Furniture e-shop </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .tablestuff2 thead {
     display: table-header-group;
}

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
            @Html.ActionLink("Furniture Stores", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="navbar-collapse collapse" id="navbarSupportedContent">

                <ul class="nav navbar-nav mr-auto">
                    @if (this.User.IsInRole("Buyer") || this.User.IsInRole("Admin"))
                    {
                        <li class="nav-item">@Html.ActionLink("Stores", "Index", "Stores", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("FurnitureTypes", "Index", "FurnitureTypes", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Furnitures", "Index", "Furnitures", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                     @if (this.User.IsInRole("Buyer"))   
                    {    
                        <li class="nav-item">@Html.ActionLink("Cart", "Index", "ShoppingCart", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    else if (this.User.IsInRole("Admin"))
                    {
                        <li class="nav-item">@Html.ActionLink("Users", "Index", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Reports", "Index", "Reports", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Receipts", "Index", "Receipts", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li class="nav-item">@Html.ActionLink("Browse stores", "Index", "Browsing", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    
                    
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sanja's Furniture stores </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>