@model IEnumerable<FurnitureStore.Models.Store>

@{
    ViewBag.Title = "Stores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>@ViewBag.Title</h2>
    
<div align="left">
    @using (Html.BeginForm("Index", "Stores", FormMethod.Get))
    {
        <b> Select Search Option: </b>
        @Html.RadioButton("option" , "Store_Name", true) <text>Store Name &nbsp </text>
        @Html.RadioButton("option", "Owner") <text> Owner &nbsp </text>
        @Html.RadioButton("option", "Address")<text> Address &nbsp</text>
        @Html.RadioButton("option", "TIN")<text> TIN &nbsp</text>
        @Html.RadioButton("option", "BankAccountNumber")<text> Bank Account Number &nbsp</text>
        <br /><br />
        @Html.TextBox("search")
        <input type="submit" name="submit" class="btn btn-info" value="Search" />
    }
</div>
<br />
<p align="left">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Store Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIN)
        </th>
        <th>
            Bank Account No.
        </th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr> <td colspan="9" align="center">There are no stores that match your search parameters </td></tr>
    }
    else
    {
        foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Store_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccountNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StoreID })
                @Html.ActionLink("Details", "Details", new { id = item.StoreID })
                @Html.ActionLink("Delete", "Delete", new { id = item.StoreID })
            </td>
        </tr>
    }
    }


</table>
