@model FurnitureStore.Models.Receipt

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Receipt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Net_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Net_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Taxes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taxes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gross_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gross_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Buyer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buyer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReceiptID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
