@model IEnumerable<FurnitureStore.Models.FurnitureType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h2>Types of furniture</h2>
<div align ="left">
@using (Html.BeginForm("Index", "FurnitureTypes", FormMethod.Get))
{
    <b> Search by furniture type: </b><br />
    <br/>
    @Html.TextBox("search") <input type="submit" name="submit" class="btn btn-info" value="Search" />
}
</div>
<p>
    <br />
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr><td colspan="2" align="center" color="cyan"> There are no furniture types that match your search, please try a different type of furniture.</td></tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
                </td>
            </tr>
        }
    }

</table>
