@model FurnitureStore.Models.Furniture

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{ WebImage photo = null;
    var newFileName = "";
    var imagePath = "";

    if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            newFileName = Guid.NewGuid().ToString() + "_" +
                Path.GetFileName(photo.FileName);
            imagePath = @"~\Content\" + newFileName;

            photo.Save(@"~\" + imagePath);
        }
    }
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <br />
    <h4>Add new peice of furniture</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <p class="control-label col-md-2">Item Number</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.ItemNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ItemNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">Furniture</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Furniture1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Furniture1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">Country of Origin</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.CountryOfOrigin, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CountryOfOrigin, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">Production year (mm/dd/yyyy)</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProductionYear, new { htmlAttributes = new { @class = "form-control datepicker", @Value = DateTime.Now.ToString("mm'/'dd'/'yyyy"), type = "datetime" } })
            @Html.ValidationMessageFor(model => model.ProductionYear, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">Price per item</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.PricePerItem, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PricePerItem, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">Store</p>
        <div class="col-md-10">
            @Html.DropDownList("Store", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Store, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">Type of Furniture</p>
        <div class="col-md-10">
            @Html.DropDownList("TypeOfFurniture", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TypeOfFurniture, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="control-label col-md-2">
        <div class="label">Upload an Image</div>
        <label class="input-file" for="Image">
            Upload image
            <input type="file" name="Image" />
        </label>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
    @*</div>*@
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <script>
            $(function () {
                $(".datepicker").datepicker({
                    dateFormat: "mm/dd/yy"
                });
            });
        </script>

    }
