@model FurnitureStore.Models.Furniture

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h2>Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            
        </dt>

        <dd>
            @if (Model.Image != null)
            {
                <img src="@Url.Content(Model.Image)" alt="image" class="img_style" />
            }
        </dd>

        <dt>
            Item No.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemNumber)
        </dd>

        <dt>
            Furniture name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Furniture1)
        </dd>

        <dt>
            Made in
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryOfOrigin)
        </dd>

        <dt>
            Production year
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionYear.Year)
        </dd>

        <dt>
            Price per item
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerItem)
        </dd>

        

        <dt>
            Type of furniture
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FurnitureType.Name)
        </dd>

        <dt>
           Store Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store1.Store_Name)
        </dd>

    </dl>
</div>
<div>
    @if (this.User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.FurnitureID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        
    }
    else
    {
        @Html.ActionLink("Back to List", "Index")
    }

</div>

